h1 {
  text-align: center;
  font-weight: 600;

  &::after {
    content: '';
    display: block;
    margin: 0.2em auto 0;
    width: 6rem;
    height: 2px;
    border-bottom: 2px dashed var(--c-brand);
  }
}

h2 {
  position: relative;
  padding-left: 0.5em;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0.5rem;
    height: 1.3em;
    background-color: var(--c-brand);
  }
}

h3::before {
  content: '';
  display: inline-block;
  width: 0.3rem;
  height: 0.3rem;
  margin-right: 0.5em;
  border-radius: 50%;
  background-color: var(--main-5);
  vertical-align: middle;
}

h4::before {
  content: '';
  display: inline-block;
  width: 0.8rem;
  height: 2px;
  margin-right: 0.5em;
  background-color: var(--main-4);
  vertical-align: middle;
}
h1, h2, h3, h4, h5, h6 {
  z-index: -1;
  font-weight: 600;
  line-height: 1.25;
}

// 强调
strong {
  color: var(--main-4);
}

// 表格
table {
  display: table;
  width: 100%;
}
// th, td {
//   border-color: #dfe2e5;
// }
html.dark th,
html.dark td {
  border-color: #595959;
}

// 引用块
blockquote {
  position: relative;
  padding-top: 1.3rem;
  border-inline-start: .2rem solid var(--c-brand);
  &::before {
    content: '“';
    position: absolute;
    left: 1rem;
    top: 0;
    color: var(--c-brand);
    font-size: 2em;
    font-family: Arial, serif;
    line-height: 1em;
    font-weight: 700;
  }
}

code {
  font-family: 'Fira Code', var(--font-family-code);
}
:not(pre) > code {
  margin: 0 .3em;
  color: var(--c-text-lighter);
  background-color: var(--c-bg-lighter);
}

p, ul, ol {
  line-height: 2;
}

.py-editor-box {
  background: rgb(245, 245, 245);
  border-radius: 4px;
}
.py-editor-box[data-env="pyodide"]::before {
  display: none;
}
.py-editor-output[class] {
  white-space: pre-wrap;
}
