@use './font.scss';
@use './article.scss';
:root {
  --vp-c-accent: var(--main-6);
  --vp-c-accent-bg: var(--main-4);
  --back-to-top-c-accent-bg: var(--main-3);
  --back-to-top-c-accent-hover: var(--main-4);
  --c-brand: var(--main-6);
  --c-brand-light: var(--main-4);
  --c-border-dark: var(--main-6);
  --c-text-lighter: var(--main-5);
  --c-bg-lighter: var(--main-1);

  --font-family-code: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

      /* 主题色 */
  --main-1: #fff3f0;
  --main-2: #ffd4cc;
  --main-3: #ffafa3;
  --main-4: #ff887a;
  --main-5: #ff5d52;
  --main-6: #f22f27;
  --main-7: #cc1616;
  --main-8: #a60a0f;
  --main-9: #80010a;
  --main-10: #590009;
}

[data-theme='dark'] {
  --vp-c-accent: var(--main-3);
  --c-brand: var(--main-5);
  --c-brand-light: var(--main-5);
  --c-border-dark: var(--main-4);
  --c-text-lighter: var(--main-4);
  --c-bg-lighter: #ffb5b333;

  --font-family-code: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;

  p img {
    background-color: #fff;
  }
}

@media (max-width: 719px) {
  .vp-navbar-item {
    width: 100%;
    font-size: 1.3rem;
    &:not(:last-child) {
      margin-bottom: 0.3rem;
    }
  }
}